[Unit]
Description=Firewall Knock Operator Daemon
After=network.target network-online.target iptables.service ip6tables.service

[Service]
Type=forking
ExecStart=/usr/sbin/fwknopd
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
